:root,
html,
body {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 700px;
  height: 700px;
  overflow: auto;
}

.svg-container {
  position: relative;
  width: 1400px;
  height: 1400px;
  background-color: #ecafaf;
}