:root,
html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 700px;
  height: 700px;
  background-color: rgb(244, 179, 179);
}

.left {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100%;
  overflow: hidden;
}

.leftTop {
  height: 80px;
  flex-shrink: 0;
  background-color: rgb(179, 244, 179);
}

.leftBottom {
  flex: 1;
  width: 100%;
  overflow: auto;
}

.leftBottomItem {
  height: 50px;
  flex-shrink: 0;
  background-color: rgb(179, 179, 244);
  margin-bottom: 10px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.rightTop {
  display: flex;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background-color: rgb(179, 244, 244);
}

.rightTopItem {
  display: inline-block;
  width: 40px;
  height: 100%;
  flex-shrink: 0;
  margin-right: 10px;
  background-color: red;
}

.ganttBody {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.bodyItem {
  height: 50px;
  width: 20000px;
  flex-shrink: 0;
  background: linear-gradient(to right top, rgb(255, 255, 255), rgb(36, 36, 255));
  margin-bottom: 10px;
}