:root,
html,
body {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 700px;
  height: 700px;
  overflow: auto;
  background-color: rgb(244, 179, 179);
}

.wrapper {
  position: relative;
  width: 1000%;
  height: 100%;
  background-color: #77bd7d;
}

.process {
  position: relative;
  left: 1200px;
  margin-top: 10px;
  height: 40px;
  width: 90px;
  background-color: #fff;
  cursor: ew-resize;
}